# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_GETA_LEFT

config ZMK_KEYBOARD_NAME
    default "Geta"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GETA

config ZMK_SPLIT
    default y

endif
